services:
  - type: web
    name: billing-backend
    env: python
    region: oregon
    plan: free
    branch: main

    buildCommand: "pip install -r Billing_Backend/requirements.txt"
    startCommand: "uvicorn Billing_Backend.main:app --host 0.0.0.0 --port $PORT"

    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_SERVICE
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false

      - key: JWT_SECRET
        sync: false
      - key: JWT_ALGORITHM
        sync: false
