services:
  - type: web
    name: billing-backend
    env: python
    region: oregon
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn main:app --host 0.0.0.0 --port $PORT"
    branch: main
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_SERVICE
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
